.welcome-page
  .banner-area
    .banner-title
      File Cabinet
    .banner-info
      Your Life Work, Organized, Always
    .banner-enter
      - if user_signed_in?
        .std-btn
          = link_to "Show All Docs", docs_path
      - else 
        .std-btn
          = link_to "Join Now", new_user_registration_path
  .company-info-area
    .company-title
      Organize
    .company-desc
      Chia pug kombucha post-ironic next level vape you probably haven't heard of them 90's. Deep v migas celiac lomo DIY stumptown. Street art meh freegan, everyday carry thundercats readymade polaroid butcher yuccie. Shaman try-hard pork belly, edison bulb post-ironic portland cloud bread PBR&B hell of selvage waistcoat gentrify.